/*控制侧边栏进出的按钮（外部包裹）*/
#wrap {
  position: fixed;
  margin-left: 20px;
  padding: 10px;
  transition: 0.2s ease-out;
}

/*控制侧边栏进出的按钮（内部文字样式）*/
label {
  /*控制侧边栏进出的按钮*/
  background: white;
  border-radius: 70px;
  color: orange;
  cursor: pointer;
  display: block;
  font-family: Courier New;
  font-size: 2em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
/*    display: inline-block;*/
}

label:hover {
  background: #000;
}      

#sidemenu{
  display: none;
}

#sidemenu:checked + div {
  /*为被选中的sidemenu后的aside设置属性（紧邻）*/
  left: 0;
  /*点击按钮即选中checked后,侧边栏位置变为贴着左边,配合ease-out使用,有渐变滑出的效果*/
}

#sidemenu:checked ~ #wrap {
  /*为被选中的sidemenu后的wrap设置属性（非紧邻）*/
  padding-left: 42vmin;
}

/* 左侧模型栏 */
.leftnav {
/*  border: 1px solid red;*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: -40vmin;
  width: 40vmin;
  background: white;
  transition: 0.2s ease-out; 
  display: flex; 
}                  

.llnav {
  border-right: 1px solid #ECECEC;
/*  float: left;
  width: 22%;*/
  flex: 0 0 22%;
  height: 100%;
}

#modelnav {
/*  border: 1px solid black;*/
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

#modelnav li {
  font-family: Microsoft Yahei, serif;
  font-size: 2vmin;
  font-weight: bold;
/*  border: 1px solid #ECECEC;
  padding: 3vmin 0;*/
}

/* 模型图片布局利用flex，自动扩充 */
.modelImg {
/*  border: 1px solid black;*/
  flex: 1;
  overflow: auto;
/*  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;*/
}

.tab_btn{
  color: #000000;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  padding: 3vmin 0;
}

.tab_btn:hover{
  background-color: #bbbbbb;
  color: #fff;
}

.tab_div {
  display: none;
}

.curr_btn{
  background-color: #bbbbbb;
  color: #fff;
}

.curr_div{
  display: flex !important;
  flex-flow: row wrap;
  align-content: flex-start;
}

/*
#toolbarnav {
  list-style-type: none;
  border: 1px solid black;
  height: 100%;
  margin-top: -0.25vmin;
}

#toolbarnav li { 
  display: inline;
  font-family: Microsoft Yahei, serif;
  font-size: 2vmin;
  font-weight: bold;
  margin: 2vmin;
  border: 1px solid red;
}

*/
