html, body {
	height: 100%;
}

body {
	margin: 0;
	overflow: hidden;
}

.Site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/* 主页面布局 利用flex盒 */
.Site-content {
	flex: 1;
	display: flex;
}

/*
.left {
	border: 1px solid red;
	flex: 0 0 25%;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
}


.left>div {
	border: 1px solid black;
/*	width: 45%;
	height: 20%;
	margin: 1vmin;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
	box-sizing: border-box;
	flex: 0 0 25%;
	height: 20%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
/*	display: none;
}*/

/* 3d主页面 flex：1扩充整个页面 */
.container {
/*	border: 1px solid red;*/
	flex: 1;
}

/*
#painter {
	width: 100%;
	height: 100%;
}


.toolbar {
	display: block;
	position: fixed;
	top: 5vmin;
	right: 1vmin;
	width: 15vmin;
}

.button {
	background-color: #4CAF50; /* Green 
	border: none;
	width: 100%;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.5vmin;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {
	background-color: #bbbbbb; /* Green 
	border: none;
	width: 100%;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.5vmin;
	margin: 4px 2px;
	cursor: default;
}

.buttons {
	position: fixed;
	left: 90%;
}
*/

/*顶部工具栏定位*/
.toolbarpos {
	position:fixed; 
	margin:auto; 
	left:0; 
	right:0; 
	top:0; 
	width:40%; 
	height: 5vmin; 
	background-color: #fff;
	text-align: center;
}

/* 工具栏按钮样式 */
.btn {

	width: 24%;
	height: 80%;
	color: #bbbbbb;
	background-color: #fff;
	border: none;
	border-right: 0.1vmin solid #bbbbbb;
	font-size: 1.5vmin;
	margin-top: 0.5vmin;
	cursor: default;

}

/* 工具栏最后一个按钮 */
.btnr {

	width: 24%;
	height: 80%;
	color: #bbbbbb;
	background-color: #fff;
	border: none;
	font-size: 1.5vmin;
	margin-top: 0.5vmin;
	cursor: pointer;

}

/*操作提示*/
.tips {
	position: fixed;
	right: 0;
	width: 25%;
	color: #696969;
	font-size: 0.8em;
}

.title {
	font-weight: bold;
}
